*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
}

body{
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 50px;

}

.display{
	padding-top: 150px;
	color: white;
}
